$greyColor: #141015;

body {
  margin: 0 auto;
  background-color: $greyColor;
  color: white;
  font-family: "Oswald", sans-serif;
  letter-spacing: 2px;
}

.topSpacer {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid grey;
}

.navList {
  list-style: none;
  margin-left: 10%;
  li {
    color: grey;
    display: inline;
  }
  .selected {
    color: white;
  }
}
